<div class="app">
  <div class="header">
    <a href="#" class="title"><h1 class="text"><%= title %></h1></a>
    <p class="user"><%= user %></p>
    <div class="search-select">
      <button type="button" class="label">전체</button>
      <div class="select-layer">
        <button type="button" class="select-option">전체</button>
        <button type="button" class="select-option">현재 페이지</button>
      </div>
    </div>
    <div class="search-bar">
      <input id="youtube-search-textfield" class="video-search-input" type="text" placeholder="검색어를 입력하세요."/>
      <button id="youtube-search-button" class="youtube-search-button">검색</button>
    </div>
  </div>
  <div id="container" class="container"></div>
</div>
