<div class="reactive-panel">
  <div class="home-section">
    <h2 class="home-section-title"><span class="text">Javascript YouTube</span></h2>
    <div id="javascript-video-list" class="video-list"></div>
  </div>
  <div class="home-section">
    <h2 class="home-section-title"><span class="text">Python Youtube</span></h2>
    <div id="python-video-list" class="video-list"></div>
  </div>
  <div class="home-section">
    <h2 class="home-section-title"><span class="text">C++ YouTube</span></h2>
    <div id="c-plus-plus-video-list" class="video-list"></div>
  </div>
</div>
